* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}
.circle {
  background-color: green;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 100px;
  margin-left: 50px;
}
.main{
    align-items: center;
    justify-content: center;
 }
.traffic {
  height: 400px;
  width: 173px;
  border: 8px solid yellow;
  /* flex-wrap: wrap; */
  padding: 27px;
  align-items: center;
}
.green {
  background-color: green;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.yellow {
  background-color: yellow;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.red {
  background-color: red;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 10px;
}
